.details-container {
    margin-top: 24px;
  }
  .title{
    text-align: initial;
    width: 75px;
    height: 22px;
    margin-bottom: 8px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
  }
  .desciption-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 88px;
  }
  .desciption-left, 
  .desciption-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    /* row-gap: 24px; */
  }
  .sequence-container {
    word-break: break-all;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 1021px;
    /* min-height: 231px; */
    left: 129px;
    top: 414px;
    background: #F2F2F2;
    border-radius: 8px;
  }
  .label{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #616161;
    margin-bottom: 4px;
    margin-top: 7px;
    text-align: initial;
  }
  .protein-info{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #2B2B2B;
    text-align: initial;
  }
  .sequence-info{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    text-align: initial;
    padding-left: 12px;
    padding-bottom: 13px;
    padding-right: 11px;
    padding-top: 12px;
  }
  .copy-icon{
    display: inline-flex;
    justify-content: end;
    width: 1021px;
    margin-top: 22px;
    margin-bottom: 7px;
  }
  .copy-icon p{
    width: 29px;
    height: 16px;
    left: 1116px;
    top: 391px;
    margin-left: 8px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;

    color: #000000;
  }
  .copy-icon img{
    cursor: pointer;
  }